*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main 
{
  margin-top: 50px;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
header
{
  position: fixed;
  top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
}
nav 
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}
nav ul 
{
display: flex;
list-style: none;
}
nav ul li 
{
margin: 0 10px;
}
nav ul li a 
{
color: #fff;
text-decoration: none;
padding: 10px;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.sliderPrime
{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}
.slider
{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slides
{
  width: 500%;
  height: 100%;
  display: flex;
}
.slides input
{
  display: none;
}
.slide
{
  width: 20%;
  transition: 2s;
}
.slide img
{
  width: 100%;
  height: 100%px;
  object-fit: cover;
}
.nav-manual
{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn
{
  border: 16px solid #ff00d4;
  padding: 0px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child)
{
  margin-right: 100px;
}
.manual-btn:hover
{
  background-color: #e5e5e5;
}
#radio1:checked ~ .first
{
  margin-left: 0;
}
#radio2:checked ~ .first
{
  margin-left: -20%;
}
#radio3:checked ~ .first
{
  margin-left: -40%;
}
#radio4:checked ~ .first
{
  margin-left: -60%;
}
.nav-auto
{
  position: absolute;
  display: flex;
  width: 1000px;
  justify-content: center;
  margin-top: 460px;
}
.nav-auto div
{
  border: 0px solid #e5e5e5;
  padding: 0px;
  border-radius: 0px;
  transition: 1s;
}
.nav-auto div:not(:last-child)
{
  margin-right: 0px;
}
#radio1:checked ~ .nav-auto .auto-btn1
{
  background-color: #e5e5e5;
}
#radio2:checked ~ .nav-auto .auto-btn2
{
  background-color: #e5e5e5;
}
#radio3:checked ~ .nav-auto .auto-btn3
{
  background-color: #e5e5e5;
}
#radio4:checked ~ .nav-auto .auto-btn4
{
  background-color: #e5e5e5;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.image-section
{
  height: 500px;
  display: flex;
  background-color: #ccc;
}
.image-wrapper
  {
    display: flex;
  }
  .image-container 
  {
    position: relative;
    width: 50%;
    margin-right: 20px;
  }
  .image-container:last-child 
  {
    margin-right: 0;
  }
  .image-container img 
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay 
  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 0;
    transition: .5s ease;
  }
  .image-container:hover .overlay 
  {
    height: 100%;
  }
  .text 
  {
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
